<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="stylesheet" href="/css/article.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<meta charset="UTF-8">
<title>スレッド一覧</title>
</head>
<body>
<header class="mb-4">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/article/show}">トップページ</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse"
					id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0"
						sec:authorize="isAuthenticated()">
						<li class="nav-item"><a class="nav-link" aria-current="page"
							th:href="@{/user/showUser}">ユーザーページ</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/logout}">ログアウト</a>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0"
						sec:authorize="!isAuthenticated()">
						<li class="nav-item"><a class="nav-link" aria-current="page"
							th:href="@{/login/toLogin}">ログイン</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/user}">会員登録</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
<div class="container">
	<div class="row">
		<div class="col-9 mx-auto">
			<h1 class="text-center mx-auto">スレッド一覧</h1>
			
			<div class="d-flex flex-row">
				<a class="col-4 me-auto text-center btn btn-dark" th:href="@{/article/create-page}">スレッド作成</a>
				<form class="form-group form-inline col-4" method="post" th:action="@{/article/search-name}">
					<div class="input-group">
						<input type="text" name="name" class="form-control" placeholder="スレッド名">
						<span class="input-group-btn ms-2">
							<button class="btn btn-secondary" type="submit">検索</button>
						</span>
					</div>
				</form>
			</div>
			<div th:if="${noNameMessage}" class="alert alert-danger text-center mt-3">
				<p th:text="${noNameMessage}"></p>
			</div>
			<table class="table table-striped table-bordered mt-3 fs-4">
				<tr>
					<th>スレッド名</th>
					<th>スレッド内容</th>
				</tr>
				<tr th:each="article:${articleList}">
					<td>
						<a th:href="@{/comment/show?id=} + ${article.id}"><span th:text="${article.name}"></span></a>
					</td>
					<td>
						<p th:text="${article.content}"></p>
					</td>
				</tr>
			</table>
		</div>
		
	</div>
</div>
</body>
</html>